.hero-banner {
  &_section {
    background-image: url('@/assets/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 80px 0;
    display: flex;
    align-items: center;
  }

  &_card {
    background-color: #fff3e3;
    padding: 16px;
    border: none;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transform: translateY(50px);
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &_text-arrival {
      font-size: 12px;
      letter-spacing: 1.5px;
      font-weight: 600;
      color: #333;
      margin: 0;
    }

    &_text-collection {
      font-size: 30px;
      line-height: 120%;
      font-weight: 700;
      color: #b88e2f;
      margin-bottom: 10px;
    }

    &_text-description {
      font-size: 15px;
      line-height: 150%;
      color: #333;
      font-style: italic;
    }
  }

  &_button {
    color: #fff;
    background-color: #b88e2f;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    width: 150px;
    transition: all 0.3s ease;
  }

  _button:hover {
    background-color: #dcaa3c;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}
